<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="chart" class="col-md-12" >
    <script th:src="@{/plugins/echarts/echarts-all.js}"></script>
    <script th:src="@{/js/stock/zxcwzb_chart.js}"></script>
    <div class="row">
        <div class="col-md-12">
            <h3>最新财务指标</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="zxcwzbForm" class="form-inline">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-3 control-label" for="paramStartYear">年份<i style="color: red">*</i></label>
                        <div class="col-md-5">
                            <select id="paramStartYear" name="paramStartYear">
                            </select>
                            -
                            <select id="paramEndYear" name="paramEndYear">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-3 control-label" for="paramDateType">报告期类型<i style="color: red">*</i></label>
                        <div class="col-md-5">
                            <select id="paramDateType" name="paramDateType">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="btns">
                <a class="btn btn-primary" href="javascript:;" id="zxcwzbSearchBtn">查询</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="zxcwzbChart" style="height: 500px; width: 100%">
            </div>
        </div>
    </div>
</div>
</body>
</html>
