<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Smart Stock</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />

    <script th:src="@{/plugins/jquery/jQuery-2.2.0.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <!--<script th:src="@{/app.js}"></script>-->
    <script th:src="@{/plugins/art-template/template-web.js}"></script>
    <script th:src="@{/plugins/jquery-bootpag/jquery.bootpag.js}"></script>
    <script th:src="@{/plugins/common/common.js}"></script>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="content_top">
    </div>
    <div class="content_bottom">
        <div class="content_left">
            <div th:replace="layout/sidebar :: sidebar" />
        </div>
        <div class="content_right" layout:fragment="content">
        </div>
    </div>
</div>
</body>
</html>
