<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Smart Stock</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />

    <script th:src="@{/plugins/jquery/jQuery-2.2.0.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/plugins/jquery-bootpag/jquery.bootpag.js}"></script>
    <script th:src="@{/plugins/art-template/template-web.js}"></script>
    <script th:src="@{/plugins/common/common.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="content_top">
        <a href="javascript:logout();">注销登录</a>
    </div>
    <div class="content_bottom">
        <div class="content_left">
            <div th:replace="layout/sidebar :: sidebar" />
        </div>
        <div class="container-fluid content_right" layout:fragment="content">
        </div>
    </div>


    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <script id="modal-tpl" type="text/html">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{title}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{content}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="sureBtn" type="button" class="btn btn-primary">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </script>
    </div><!-- /.modal -->
</div>
</body>
</html>
