<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sidebar">
    <ul class="menu_ul">
        <li>
            <a href="/">
                <i class="oicon oicon-home"></i><span>首页</span>
            </a>
        </li>
        <li>
            <a href="/fund/detail/1">
                <i class="oicon oicon-home"></i><span>基金</span>
            </a>
        </li>
        <li>
            <a href="/stock/">
                <i class="oicon oicon-home"></i><span>股票</span>
            </a>
        </li>
        <li>
            <a href="/trustee/">
                <i class="oicon oicon-home"></i><span>信托人</span>
            </a>
        </li>
        <li>
            <a href="/stocktrade/">
                <i class="oicon oicon-home"></i><span>股票交易</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
