<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layout/layout">
<head>
    <title>Smart Stock - 信托人</title>
    <script th:src="@{/js/trustee/list.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1 class="page_name">信托人</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-round">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a class="btn btn-primary" href="/trustee/insert">新增</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center">编号</th>
                                <th class="col-md-1">姓名</th>
                                <th class="col-md-1">状态</th>
                                <th class="col-md-1">本金</th>
                                <th class="col-md-1">份额</th>
                                <th class="col-md-1">总资产</th>
                                <th class="col-md-2">添加时间</th>
                                <th class="col-md-2 text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            <script type="text/html">
                                {{each list tab index}}
                                <tr>
                                    <td  class="text-center">
                                        {{pageSize*(page-1) + index + 1}}
                                    </td>
                                    <td><a href="/trustee/detail/{{tab.id}}">{{tab.name}}</a></td>
                                    <td>{{tab.statusText}}</td>
                                    <td>{{tab.principal}}</td>
                                    <td>{{tab.totalUnit}}</td>
                                    <td>{{tab.total}}</td>
                                    <td>{{tab.createTime}}</td>
                                    <td class="text-center">
                                        <div class='icon-flex'>
                                            <a class="btn btn-default" href="/trustee/edit/{{tab.id}}">编辑</a>
                                            <a class="btn btn-primary" href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </script>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="box-footer dataTables_paginate"></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
