<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorator="/layout/layout">
<head>
    <title>Smart Stock - 基金</title>
    <script th:src="@{/js/fund/detail.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1 class="page_name">基金</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form id="form" class="form-horizontal form-inline">
                    <input id="id" name="id" th:value="${id}" type="hidden" />
                    <input id="mode" th:value="${mode}" type="hidden" />
                    <script id="tpl" type="text/html">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">名称<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">现金余额<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{banlance}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label" >总投资额(本金)<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{principal}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">仓位<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{position}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">份额<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{totalUnit}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">投资人数<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{numOfTrustee}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label" >创建时间<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{createTime}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label" >更新时间<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{updateTime}}</span>
                                </div>
                            </div>
                        </div>
                    </script>
                </form>
            </div>
        </div>
        <div class="btns" shiro:hasRole="admin">
            <a class="btn btn-primary" href="javascript:;" id="tradeStockBtn">交易股票</a>
            <a class="btn btn-primary" href="javascript:;" id="trusteeTradeBtn">信托人交易</a>
        </div>
        <div class="row" style="margin-top: 30px; border-top: 1px solid #ccc">
            <div class="col-md-12">
                <p>报表,待开发...</p>
            </div>
        </div>

        <div shiro:hasRole="admin" id="tradeStockModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content"  style="min-width: 800px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">交易股票</h4>
                    </div>
                    <div class="modal-body" style="min-height: 150px">
                        <form id="tradeStockForm" class="form-horizontal form-inline">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="col-md-6 control-label">选择基金<i style="color: red">*</i></label>
                                    <div class="col-md-6">
                                        <select class="form-control">
                                            <option value="1">企业号</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-6 control-label">股票<i style="color: red">*</i></label>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="col-md-6 control-label">交易类型<i style="color: red">*</i></label>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-6 control-label">成交成本价<i style="color: red">*</i></label>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-6 control-label">成交数量<i style="color: red">*</i></label>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-6 control-label">成交总额<i style="color: red">*</i></label>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="tradeStockCommitBtn" type="button" class="btn btn-primary">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->

            <script type="text/javascript">
                $(function () {
                    $("#tradeStockBtn").on("click", function () {
                        $("#tradeStockModal").modal("show");
                    });
                });
            </script>
        </div><!-- /.modal -->

    </section>
</div>

</body>
</html>
