<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorator="/layout/layout">
<head>
    <title>Smart Stock - 基金</title>
    <script th:src="@{/js/fund/detail.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1 class="page_name">基金</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form id="form" class="form-horizontal form-inline">
                    <input id="id" name="id" th:value="${id}" type="hidden" />
                    <input id="mode" th:value="${mode}" type="hidden" />
                    <script id="tpl" type="text/html">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">名称<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">现金余额<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{banlance}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label" >总投资额(本金)<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{principal}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">仓位<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{position}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">份额<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{totalUnit}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label">投资人数<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{numOfTrustee}} (延迟更新)</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label" >创建时间<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{createTime}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-6 control-label" >更新时间<i style="color: red">*</i></label>
                                <div class="col-md-6">
                                    <span class="form_text">{{updateTime}}</span>
                                </div>
                            </div>
                        </div>
                    </script>
                </form>
            </div>
        </div>
        <div class="btns" shiro:hasRole="admin">
            <a class="btn btn-primary" href="javascript:;" id="tradeStockBtn">交易股票</a>
            <a class="btn btn-primary" href="javascript:;" id="trusteeTradeBtn">信托人认购</a>
        </div>
        <div class="row" style="margin-top: 30px; border-top: 1px solid #ccc">
            <div th:replace="/fundbyday/list :: fundbyday" />
        </div>

        <div shiro:hasRole="admin" id="tradeStockModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="width: 1000px;">
                <div class="modal-content"  style="min-width: 1000px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">交易股票</h4>
                    </div>
                    <div class="modal-body" style="min-height: 150px">
                        <form id="tradeStockForm" class="form-inline">
                            <input type="hidden" name="fundId" th:value="${id}" />
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="col-md-4 control-label">股票<i style="color: red">*</i></label>
                                    <div class="col-md-8">
                                        <select id="code" name="code" class="form-control" >
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-4 control-label">交易类型<i style="color: red">*</i></label>
                                    <div class="col-md-8">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="type" id="type1" value="0" checked="checked" />&nbsp;买入&nbsp;
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" name="type" id="type2" value="1" />&nbsp;卖出&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label class="col-md-4 control-label">成本价<i style="color: red">*</i></label>
                                    <div class="col-md-8 input-group">
                                        <div class="input-group-addon">￥</div>
                                        <input name="unitPrice" type="text" class="form-control"  placeholder="成本价" autocomplete="off"/>
                                        <div class="input-group-addon">元</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-4 control-label">成交数量<i style="color: red">*</i></label>
                                    <div class="col-md-8 input-group">
                                        <input name="unit" type="text" class="form-control"  placeholder="成交数量"  autocomplete="off"/>
                                        <div class="input-group-addon">股</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="tradeStockCommitBtn" type="button" class="btn btn-primary">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div shiro:hasRole="admin" id="trusteeTradeModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document"  style="width: 1000px;">
                <div class="modal-content"  style="min-width: 1000px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">信托人认购</h4>
                    </div>
                    <div class="modal-body" style="min-height: 150px">
                        <form id="trusteeTradeForm" class="form-inline">
                            <input type="hidden" name="fundId" th:value="${id}" />
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="col-md-4 control-label">信托人<i style="color: red">*</i></label>
                                    <div class="col-md-8">
                                        <select id="trusteeId" name="trusteeId" class="form-control" ></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-md-4 control-label">利率<i style="color: red">*</i></label>
                                    <div class="col-md-8">
                                        <select id="interestRate" name="interestRate" class="form-control" ></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="col-md-4 control-label">金额<i style="color: red">*</i></label>
                                    <div class="col-md-8 input-group">
                                        <div class="input-group-addon">￥</div>
                                        <input name="total" type="text" class="form-control"  placeholder="金额" autocomplete="off"/>
                                        <div class="input-group-addon">元</div>
                                    </div>
                                </div>
                                <div id="cycleDiv" class="form-group col-md-4">
                                    <label class="col-md-4 control-label">持有周期<i style="color: red">*</i></label>
                                    <div class="col-md-8">
                                        <select id="cycle" name="cycle" class="form-control" >
                                            <option>-- 请选择 --</option>
                                            <option value="1">一年</option>
                                            <option value="2">两年</option>
                                            <option value="3">三年</option>
                                            <option value="4">四年</option>
                                            <option value="5">五年</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="trusteeTradeCommitBtn" type="button" class="btn btn-primary">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </section>
</div>

</body>
</html>
