<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layout/layout">
<head>
    <title>Smart Stock</title>
    <script th:src="@{/index.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>电池管理</h1>
    </section>
    <section class="content">
        <form id="searchform" class="form-horizontal form-search" role="form" >
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">编号：</label>
                        <div class="col-sm-8 ">
                            <input class="form-control" type="text" name="paramNo" placeholder="编号" autocomplete="off" style="width: 100%"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">设备号：</label>
                        <div class="col-sm-8 ">
                            <input class="form-control" type="text" name="paramDeviceNo" placeholder="设备号" autocomplete="off" style="width: 100%"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">状态：</label>
                        <div class="col-sm-8 ">
                            <select name="paramState" id="paramState"  class="form-control" style="width: 100%">
                                <option value="">全部</option>
                                <option th:each="state : ${states}" th:value="${state.key}" th:text="${state.text}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">版本号：</label>
                        <div class="col-sm-8 ">
                            <select name="paramVersion" id="paramVersion"  class="form-control" style="width: 100%">
                                <option value="">全部</option>
                                <option th:each="version : ${versions}" th:value="${version.key}" th:text="${version.text}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">时间：</label>
                        <div class="col-sm-8 ">
                            <input class="form-control" type="text" name="paramTime" id="paramTime" placeholder="时间" autocomplete="off" style="width: 100%"/>
                            <input class="form-control" type="hidden" name="paramCreateBegin" id="paramCreateBegin" placeholder="" autocomplete="off" style="width: 100%"/>
                            <input class="form-control" type="hidden" name="paramCreateEnd" id="paramCreateEnd" placeholder="" autocomplete="off" style="width: 100%"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="col-xs-12 text-right">
                            <a class="btn btn-info" onclick="searchList()">&nbsp;查 询&nbsp;</a>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-info" id="resetBtn" type="reset">&nbsp;重 置&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-round">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table id="table" class="display">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
