<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layout/layout">
<head>
    <title>Smart Stock</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1 class="page_name">首页</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </section>
</div>
</body>
</html>
